{% extends 'layout.html' %}

{% block body %}
    <h3>Kullanıcı Listesi</h3>
    <hr>
    {% if users_data == [] %}
        <div class="alert alert-danger">Sisteme ekli kullanıcı bulunamadı.</div>
    {% else %}
        <table class="table">
                <thead class="thead-dark">
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            </tr>
                </thead>
                    <tbody>
                        {% for user in users_data %}
                                        <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.username }}</td>
                                        </tr>           
                        {% endfor %}
                    </tbody> 
        </table>
    {% endif %}
{% endblock body %}



