<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/"><img src="static/images/logolo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
          {% if session["username"] == "admin1" %}
                <li class="nav-item">
                  <a class="nav-link" href="/addcar">Araba Ekleme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users">Kullanıcı Listeleme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sureyiilerlet">Süre İlerlet</a>
                </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/mycars">Kiraladığım Araçlar</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a id="cars_button" class="nav-link" href="/cars">Araba Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/filitrearama">Filitreli Arama</a>
          </li>
          
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if session["logged_in"] %}
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Çıkış Yap</a>
              </li>
        {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="/login">Giriş Yap</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Kayıt Ol</a>
              </li>
        {% endif %}    
    </ul>
  </div>
</nav>